<p id="notice"><%= notice %></p>

<p>
  <strong>Descrisao:</strong>
  <%= @contato.descrisao %>
</p>

<p>
  <strong>Ramal:</strong>
  <%= @contato.ramal %>
</p>

<p>
  <strong>Ddr:</strong>
  <%= @contato.ddr %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @contato.celular %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @contato.skype %>
</p>
<p>
  <strong>Setor:</strong>
  <%= @contato.setor_id%>
  
</p>

<%= link_to I18n.t('edit'), edit_contato_path(@contato),class:"btn btn-warning btn-sm" %> |
<%= link_to I18n.t('back'), contatos_path,class:"btn btn-secondary btn-sm" %>
